﻿body {
}

.navbar-inverse {
    background-color: #d41d50;
    border-color: #f6f6f6;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #00ff21;
    }

.col-md-10 {
    margin-bottom: 15px;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}


.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

    .course .date {
        display: inline-block;
        text-align: center;
        background-color: #d41d50;
        color: white;
        width: 60px;
        border-radius: 8px;
    }

    .course .details {
        position: absolute;
        top: 10px;
        left: 70px;
    }

body {
}
