﻿body {
}

.navbar-inverse {
    background-color: #d41d50;
    border-color: #f6f6f6;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-inverse .navbar-nav > li > a:hover {
        color: #00ff21;
    }

.col-md-10 {
    margin-bottom: 15px;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}


.course {
    list-style: none;
}

    .course > li {
        display:flex;
        align-items:center;
        position: relative;
        margin-bottom: 40px;
        margin-top:30px;
    }

    .course .date {
        display: inline-block;
        text-align: center;
        background-color: #d41d50;
        color: white;
        width: 60px;
        border-radius: 8px;
    }

    .course .details {
        position: absolute;
        left: 70px;
    }
    .course .lecturer{
        display:block;
    }
    
    .btn-default{
        margin-left:10px;
    }
.course > li .action {
    display: block;
    left: 70px;
    top:40px;
    position: absolute;
}
body {
}
